.login-page{
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .login-page{
    background-size: contain;
  }
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-events: none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #fff;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none ;	
 outline:none ;
 border-bottom:2px solid #e74c3c;	
 
}
.input-container input:active{ 
    border:none ;	
    outline:none ;
    border-bottom:2px solid #e74c3c;	
    
   }

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-30px;
	font-size:16px;
	
}
.socialLinks > li{
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.8rem;
}

