.custom-control.teleport-switch {
    --color: #4cd964;
    padding-left: 0; }
    .custom-control.teleport-switch .teleport-switch-control-input {
      display: none; }
      .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
        border-color: var(--color); }
        .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
          left: -14px; }
        .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
          right: 2px;
          background-color: var(--color); }
      .custom-control.teleport-switch .teleport-switch-control-input:disabled ~ .teleport-switch-control-indicator {
        opacity: .4; }
    .custom-control.teleport-switch .teleport-switch-control-indicator {
      display: inline-block;
      position: relative;
      margin: 0 10px;
      top: 4px;
      width: 32px;
      height: 20px;
      background: #fff;
      border-radius: 16px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border: 2px solid #ccc;
      overflow: hidden; }
      .custom-control.teleport-switch .teleport-switch-control-indicator::after {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        top: 2px;
        left: 2px;
        background: #ccc; }
      .custom-control.teleport-switch .teleport-switch-control-indicator::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        top: 2px;
        right: -14px;
        background: #ccc; }